.common-banner{
    background-image: url('../../Images/banner/banner-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 70px 0px;
}

.main-features {
    background-color: #F1F9F4;
    padding: 20px;
    text-align: center;
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 10px 13px -7px #7dd6f6;
    margin-bottom: 25px;
}

.feature-icon-1,
.feature-icon-2 {
    width: 70px;
    height: 70px;
    margin: auto;
    text-align: center;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 29px;
    line-height: 62px;
    box-shadow: 2px 12px 16px -7px #162f62;
    margin-bottom: 21px;
}

.feature-icon-1{
    background-image: linear-gradient(180deg, #7dd6f6 0%, #797ef6 100%);
}
.feature-icon-2{
    background-image:linear-gradient(180deg, #f96969 0%, #eb58b9 100%)
}

.feature-details h2 {
    font-size: 20px;
    color: #162F62;
    font-weight: 700;
    padding-top: 7px;
    padding-bottom: 10px;
}

.feature-details p {
    color: #162F62;
    line-height: 24px;
    font-size: 16px;
}

.section-title h2 {
    position: relative;
    z-index: 1;
    color: #FFFFFF;
    font-weight: 700;
}

.section-title h2::after {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 47, 98, 0.5);
    content: "";
    padding: 60px 0px;
    top: 3px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: -1;
}


.why-people-choose-us-setion {
    background-color: #F1F9F4;
    padding: 70px 0px;
    margin-bottom: 50px;
}

.why-people-choose-img img {
    width: 90%;
    margin: auto;
    display: block;
    border-radius: 6px;
    box-shadow: 8px 11px 13px -7px #7dd6f6;
}

.why-people-detail h2 {
    color: #162f62;
    font-size: 29px;
    font-weight: 700;
    padding-bottom: 14px;
}

.why-people-detail p {
    color: #162f62;
    font-size: 17px;
    text-align: justify;
    margin-bottom: 22px;
}

why-choose-list-title {
    font-size: 18px;
}

.why-choose-list-title h2 {
    font-size: 19px;
    color: #162f62;
    line-height: 42px;
    padding-left: 10px;
    margin-bottom: 30px;
    text-align: left;
}

.why-choose-icon-1,
.why-choose-icon-2,
.why-choose-icon-3,
.why-choose-icon-4 {
    font-size: 30px;
}

.why-choose-icon-1{
    color: #797EF6;
}
.why-choose-icon-2{
    color: #FC7575;
}
.why-choose-icon-3{
    color: #7DD6F6;
}
.why-choose-icon-4{
    color: #FF9F14;
}

.acheivements-section {
    padding: 40px 0px;
    background-color: aliceblue;
}

.achievment-inner {
    line-height: 28px;
}

h2.achievment-one, 
h2.achievment-two, 
h2.achievment-three, 
h2.achievment-four {
    font-size: 45px;
    font-weight: 700;
}

h2.achievment-one{
    color:#797EF6;
}
h2.achievment-two{
    color: #FC7575;
}
h2.achievment-three{
    color: #7DD6F6;
}
h2.achievment-four{
    color: #FF9F14;
}

.achievment-inner p {
    font-size: 18px;
    font-weight: 600;
    color: #162f62;
}


/********* RESPONSIVE CSS **********/
@media screen and (max-width:1057px){
    .why-choose-list-title h2{
        font-size: 15px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width:767px){
    .why-people-detail h2 {
        font-size: 20px;
        padding-bottom: 5px;
    }
    
    .why-people-choose-img img {
        width: 100%;
    }

    .achievment-inner{
        margin-bottom: 30px;
    }
}

@media screen and (max-width:575px){
    .why-people-choose-img {
        margin-bottom: 45px;
    }
}