.single-service-detail {
    padding: 20px;
    margin: 20px;
}

.single-service-detail h3 {
    color: #162F62;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.single-service-detail p {
    font-size: 17px;
    font-weight: 500;
    color: #162F62;
    line-height: 30px;
}

.single-service-detail span {
    font-weight: 700;
}

.single-service-detail h5 {
    color: #162F62;
    font-size: 17px;
    margin-bottom: 20px;
}

.single-service-detail.text-start h4 {
    color: #162F62;
    font-size: 18px;
}

.single-service-detail a{
    text-decoration: none;
    background-color: #162F62;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    padding: 7px 25px;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: .3s;
    display: inline-block;
    margin-top: 8px;
}

.single-service-detail a:hover{
    border: 1px solid #162F62;
    background-color: transparent;
    color: #162F62;
}

.single-service-img img {
    border-radius: 10px;
    box-shadow: 8px 13px 11px -4px #7dd6f6;
    margin-bottom: 20px;
}


/********** RESPONSIVE CSS ***********/
@media screen and (max-width:991px){
    .single-service-detail {
        padding: 0px;
        margin: 10px;
    }
}

@media screen and (max-width:767px){
    .single-service-detail.text-start h4 {
        font-size: 13px;
    }
    .single-service-detail h5 {
        font-size: 13px;
        margin-bottom: 14px;
    }
    .single-service-detail p {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }

    .single-service-detail h3 {
        font-size: 30px;
        margin-bottom: 14px;
    }
    .single-service-detail span{
        font-weight: 500;
    }
}